
@{
    ViewBag.Title = "Index";
}

<h1>Cartelera</h1>

<div class="card" style="width: 18rem;">
    <img src="https://omegacenter.es/blog/wp-content/uploads/2019/08/goblinslayeranime02-1024x550.png" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">GOBLIN SLAYER LUNES A VIERNES 21:00 - 24:00.</p>
    </div>
</div>

<div class="card align-content-between col-md-6"  style="width: 18rem;">
    <img src="https://ramenparados.com/wp-content/uploads/2018/10/KonoSuba-destacado-1000x600.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">KONOSUBA LUNES A VIERNES 12:00 - 16:00</p>
    </div>
</div>

<div class="card"" style="width: 18rem;">
    <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/480/public/media/image/2018/12/sonic-hedgehog-pelicula_0.jpg?itok=5Fmu4Rwm" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Sonic the movie LUNES A VIERNES 12:00 - 16:00</p>
    </div>
</div>

<div class="card align-content-between col-md-6" style="width: 18rem;">
    <img src="https://cnet2.cbsistatic.com/img/ihhZnBgkB2tiD-U2VN22OkDbUss=/1200x675/2019/12/10/041050b8-39d6-4943-ba43-a299e6bcfe14/twitter-in-stream-wide-babyyoda1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text"> STAR WAR LUNES A VIERNES 12:00 - 16:00</p>
    </div>
</div>

<div class="card align-content-between col-md-6" style="width: 18rem;">
    <img src="https://imagenes.milenio.com/b7gKGjq3UWmIEtH16fsSpg5fiXA=/958x596/https://www.milenio.com/uploads/media/2020/10/10/anuncian-fecha-estreno-bob-esponja_0_0_1200_747.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text"> BOB ESPONJA LUNES A VIERNES 12:00 - 16:00</p>
    </div>
</div>











